@import '/stylesheets/bootstrap.css';
@import '/stylesheets/taycon.css';
@import '/stylesheets/ionicons.css';
@import '/stylesheets/animate.min.css';
@import '/stylesheets/swiper.css';
@import '/stylesheets/swearalert.css';
@import 'https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css';
@import url('https://fonts.googleapis.com/css?family=Artifika|Asap|Bowlby+One+SC|Pacifico');

/*font css*/
.Artifika{
    font-family: 'Artifika', serif;
}

.Pacifico {
    font-family: 'Pacifico', cursive;
}
.Asap { 
    font-family: 'Asap', sans-serif;
}

.Bowlby{
    font-family: 'Bowlby One SC', cursive;
}

body{
    background: #F5F5F5	;
}

.border-box {
    box-sizing: border-box;
}

.br-100 {
    border-radius: 100%;
}

.db {
    display: block;
}

.dib {
    display: inline-block;
}

.h2 {
    height: 2rem;
}

.link {
    text-decoration: none;
    transition: color .15s ease-in;
}

.link:link, .link:visited {
    transition: color .15s ease-in;
}

.link:hover {
    transition: color .15s ease-in;
}

.link:active {
    transition: color .15s ease-in;
}

.link:focus {
    transition: color .15s ease-in;
    outline: 1px dotted currentColor;
}

.w2 {
    width: 2rem;
}

.w-100 {
    width: 100%;
}

.dark-gray {
    color: #333;
}

.mid-gray {
    color: #555;
}

.pa3 {
    padding: 1rem;
}

.mr3 {
    margin-right: 1rem;
}

.mb2 {
    margin-bottom: .5rem;
}

.tc {
    text-align: center;
}

.f6 {
    font-size: .875rem;
}

.v-mid {
    vertical-align: middle;
}

.dim {
    opacity: 1;
    transition: opacity .15s ease-in;
}

.dim:hover, .dim:focus {
    opacity: .5;
    transition: opacity .15s ease-in;
}

.dim:active {
    opacity: .8;
    transition: opacity .15s ease-out;
}

@media screen and (min-width: 60em) {
    .dt-l {
        display: table;
    }

    .dtc-l {
        display: table-cell;
    }

    .w-25-l {
        width: 25%;
    }

    .w-75-l {
        width: 75%;
    }

    .ph5-l {
        padding-left: 4rem;
        padding-right: 4rem;
    }

    .mr4-l {
        margin-right: 2rem;
    }

    .mb0-l {
        margin-bottom: 0;
    }

    .tl-l {
        text-align: left;
    }

    .tr-l {
        text-align: right;
    }

    .f5-l {
        font-size: 1rem;
    }
}

.sliderhome{
    width: 700px;
    height:400px;
}

a{
    text-decoration: none;
}
.center_div{
    margin: 0 auto;
    width:80% /* value of your choice which suits your alignment */
}
.verticalLine {
  border-left: 2px solid gray
  
}

.formbox {
    box-shadow: rgb(170, 170, 170) 4px 4px 4px 4px;
}
.formboxreport {
    box-shadow: rgb(170, 170, 170) 4px 4px 4px 4px;
}

/*scrolbar*/
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-button {
  width: 35px;
  height: 35px;
}
::-webkit-scrollbar-thumb {
  background: #484848;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #3f3f3f;
}
::-webkit-scrollbar-thumb:active {
  background: #444242;
}
::-webkit-scrollbar-track {
  background: #d3d1d1;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #e8e3e3;
}
::-webkit-scrollbar-track:active {
  background: #ece5e5;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

.ion-thumbsup:before{
    color: green;
}
.ion-thumbsdown:before{
    color: red;
}